<div class="container">
  <div class="row">
    <div class="col-md-12">
    <%= link_to  "Add people", new_invite_path, class: "btn btn-outline-dark mb-5" %>
    <%= link_to  "Upload bulk", invites_bulk_path, class: "btn btn-outline-dark mb-5" %>
      
        <table class="table">
          <tbody>
          <% @invites.each do |invite| %>
            <tr>
              <td>
                <%= link_to edit_invite_path(invite), class: "btn btn-outline btn-sm" do  %>
                  <i class="material-icons">edit</i> 
                <% end %>
                <%= invite.name  %>
              </td>
              <td><%= invite.email %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      
    </div>
  </div>
</div>