<%= render 'shared/errors', obj: @invite %>
<div class="card-container">
  <div class="card form-card mt-5">
    <div class="card-header">
      <h2>Add people</h2>
    </div>
    <div class="card-body">
      <%= form_for @invite do |f| %>
  
        <div class="form-group">
          <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "form-control", placeholder: "Enter your name"  %>
        </div>
  
        <div class="form-group">
          <%= f.label :email, class: "form-label" %>
            <%= f.text_field :email, class: "form-control", placeholder: "Enter your email"  %>
        </div>

        <div class="form-group">
          <label hidden>
            <%= check_box_tag :send_email %> Send email to inform user
          </label>
          <label>Email will be sent to new user to set password upon SAVE</label>
        </div>
  
        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
      <%= link_to  "Cancel", invites_path, class: "btn btn-link pl-0" %>
    </div>
  </div>
</div>